# After hydration!!! - creating the July DF

Hydrator app - Documenting the Now. (2020). Hydrator [Computer Software]. Retrieved from https://github.com/docnow/hydrator

In [1]:

import pandas as pd
import os 
import numpy as np

## CREATING THE JULY DF FROM THE DAILIES

In [10]:
def read_and_build_df(file):
    df=pd.read_csv('../data/Hydrated_twitter_csvs/' + file, header=None)
    # set column names as first row
    df.columns = df.iloc[0]
    # drop that first row that contains only column names
    df = df.iloc[1:]
    return df

In [11]:
hydrated_tweet_set = os.listdir('../data/Hydrated_twitter_csvs')

In [12]:
len(hydrated_tweet_set)

31

In [13]:
# Got some kind of invisible checkpoint?

if '.ipynb_checkpoints' in hydrated_tweet_set:
    hydrated_tweet_set.remove('.ipynb_checkpoints')

In [15]:
df = pd.DataFrame()

for file in hydrated_tweet_set:
    df = pd.concat([df, read_and_build_df(file)])

In [16]:
df.shape
# looks good. this is what we wanted...

(44248, 34)

In [17]:
df.reset_index(drop=True, inplace = True)

## REMOVING UNNECESSARY COLUMNS

In [18]:
# drop irrelevant columns
df = df.drop(columns=['media', 'urls', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_user_id',
                      'possibly_sensitive', 'reweet_id', 'retweet_screen_name', 'source', 'tweet_url', 
                      'user_created_at', 'user_screen_name', 'user_default_profile_image', 'user_description',
                      'user_favourites_count', 'user_friends_count', 'user_listed_count', 'user_name', 
                      'user_screen_name', 'user_statuses_count', 'user_time_zone', 'user_urls'])

In [19]:
df.isna().sum()

0
coordinates                 2
created_at                  0
hashtags                21525
favorite_count              0
id                          0
lang                        0
place                      75
retweet_count               0
text                        0
user_followers_count        0
user_location            2713
user_verified               0
dtype: int64

## REMOVING NULL PLACES
I worked on trying to assign place by reverse geocoding in another notebook, but the coordinates were unreliable...

In [20]:
df = df[df['place'].notna()]

In [21]:
# FIXING ODDLY FORMATTED PLACES --> mostly was from Puerto Rico

df.at[246, 'place'] = 'Guam, USA'
df.at[6416, 'place'] = 'Puerto Rico, USA'
df.at[7305, 'place'] = 'Puerto Rico, USA'
df.at[10380, 'place'] = 'Puerto Rico, USA'
df.at[36513, 'place'] = 'Puerto Rico, USA'
df.at[16565, 'place'] = 'Puerto Rico, USA'
df.at[33500, 'place'] = 'Puerto Rico, USA'
df.at[36589, 'place'] = 'Puerto Rico, USA'
df.at[43254, 'place'] = 'Puerto Rico, USA'

## ASSIGNING STATE ABBREVIATIONS

In [22]:
# MAY NEED TO LOWERCASE THESE TO SEE IF WE SAVE ANY MORE DATA
states = {
    'Alabama': 'AL',
    'AL': 'AL',
    'Alaska': 'AK',
    'AK': 'AK',
    'AmericanSamoa':'AS',
    'American Samoa':'AS',
    'AS':'AS',
    'Arizona': 'AZ',
    'AZ': 'AZ',
    'Arkansas': 'AR',
    'AR': 'AR',
    'California': 'CA',
    'CA': 'CA',
    'Colorado': 'CO',
    'CO': 'CO',
    'Connecticut': 'CT',
    'CT': 'CT',
    'Delaware': 'DE',
    'DE': 'DE',
    'DistrictofColumbia': 'DC',
    'District of Columbia': 'DC',
    'DC': 'DC',
    'FederatedStatesofMicronesia': 'FM',
    'Federated States of Micronesia': 'FM',
    'FM':'FM',
    'Florida':'FL',
    'FL':'FL',
    'Georgia':'GA',
    'GA': 'GA',
    'Guam':'GU',
    'GU': 'GU',
    'Hawaii': 'HI',
    'HI': 'HI',
    'Idaho': 'ID',
    'ID': 'ID',
    'Illinois': 'IL',
    'IL': 'IL',
    'Indiana': 'IN',
    'IN': 'IN',
    'Iowa': 'IA',
    'IA': 'IA',
    'Kansas': 'KS',
    'KS': 'KS',
    'Kentucky': 'KY',
    'KY': 'KY',
    'Louisiana': 'LA',
    'LA': 'LA',
    'Maine': 'ME',
    'ME': 'ME',
    'MarshallIslands':'MH',
    'Marshall Islands':'MH',
    'MH':'MH',
    'Maryland': 'MD',
    'MD': 'MD',
    'Massachusetts': 'MA',
    'MA': 'MA',
    'Michigan': 'MI',
    'MI': 'MI',
    'Minnesota': 'MN',
    'MN': 'MN',
    'Mississippi': 'MS',
    'MS': 'MS',
    'Missouri': 'MO',
    'MO': 'MO',
    'Montana': 'MT',
    'MT': 'MT',
    'Nebraska': 'NE',
    'NE': 'NE',
    'Nevada':'NV',
    'NV':'NV',
    'NewHampshire': 'NH',
    'New Hampshire': 'NH',
    'NH': 'NH',
    'NewJersey': 'NJ',
    'New Jersey': 'NJ',
    'NJ': 'NJ',
    'NewMexico': 'NM',
    'NM': 'NM',
    'NewYork': 'NY',
    'New York': 'NY',
    'NY': 'NY',
    'NorthCarolina':'NC',
    'North Carolina':'NC',
    'NC': 'NC',
    'NorthDakota': 'ND',
    'North Dakota': 'ND',
    'ND': 'ND',
    'NorthernMarianaIslands':'MP',
    'Northern Mariana Islands':'MP',
    'MP':'MP',
    'Ohio': 'OH',
    'OH': 'OH',
    'Oklahoma': 'OK',
    'OK':'OK',
    'Oregon':'OR',
    'OR':'OR',
    'Palau':'PW',
    'PW':'PW',
    'Pennsylvania': 'PA',
    'PA':'PA',
    'PuertoRico':'PR',
    'San Juan':'PR',
    'SanJuan':'PR',
    'Canas Urbano':'PR',
    'CanasUrbano':'PR',
    'Puerto Rico':'PR',
    'PR':'PR',
    'RhodeIsland':'RI',
    'Rhode Island':'RI',
    'RI':'RI',
    'SouthCarolina':'SC',
    'South Carolina':'SC',
    'SC':'SC',
    'SouthDakota':'SD',
    'South Dakota':'SD',
    'SD':'SD',
    'Tennessee':'TN',
    'TN':'TN',
    'Texas':'TX',
    'TX':'TX',
    'Utah': 'UT',
    'UT': 'UT',
    'Vermont':'VT',
    'VT':'VT',
    'VirginIslands':'VI',
    'Virgin Islands':'VI',
    'VI':'VI',
    'Virginia':'VA',
    'VA':'VA',
    'Washington':'WA',
    'WA':'WA',
    'WestVirginia':'WV',
    'West Virginia':'WV',
    'WV':'WV',
    'Wisconsin':'WI',
    'WI':'WI',
    'Wyoming':'WY',
    'WY':'WY',
    'US': 'USA',
    'USA': 'USA',
    'America': 'USA',
    'UnitedStatesOfAmerica': 'USA',
    'United States Of America': 'USA',
    'United States of America': 'USA'
}

In [23]:
def convert_to_state(place):
    
    # nan will stay nan
    if isinstance(place, str):
        place = place.replace(" ", "") 
        place = place.split(',')
        
        if place[-1] == 'USA':
            
            return states[place[-2]]
            
            
        
        elif place[-1] in states:
            #print(f'place[-1]: {place[-1]} in states')
            return states[place[-1]]
    
        else:
            #print(f'place[-1]: {place[-1]} never found')
            return np.nan
    
    else:
        return np.nan

In [24]:
df['state'] = df['place'].apply(convert_to_state)

In [25]:
df = df[df['state'].notna()]

## CLEANING UP THE TEXT FOR VADER USE

In [26]:
df['text'] = df['text'].replace('\nhttp\S+', ' ', regex=True).replace('http\S+', ' ', regex=True).replace('www\S+', ' ', regex=True).replace('\n\n\n', ' ', regex=True).replace('\n\n', ' ', regex=True).replace('\n', ' ', regex=True).replace('\t\t\t', ' ', regex=True).replace('\t\t', ' ', regex=True).replace('\t', ' ', regex=True).replace('&amp;', 'and', regex=True).replace('&amp', 'and', regex=True)#.replace('amp', 'and', regex=True).replace("&","and", regex=True)

In [27]:
df.reset_index(drop=True, inplace = True)

## EXPORT FOR SHARING

In [28]:
# No need to run this again, it's already there...

#df.to_csv('./Data/final_dfs/july_df.csv', index = False)